## 기초데이터과학 (01분반) 

## Programming assignment 02

### 1. Pandas Series를 활용하여 결측치를 찾고 합산, 평균을 구하시오.

In [1]:
import pandas as pd

# Series 객체를 생성하기 위해 주어진 데이터
d = [100, 200, None, 150, None, 300, 250]
i = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [19]:
# d를 value로 i를 index로 하는 Series 객체 생성
data = pd.Series(d, index=i)
print(data)

A    100.0
B    200.0
C      NaN
D    150.0
E      NaN
F    300.0
G    250.0
dtype: float64

#### 1-1. 위에서 생성한 Series 객체에서 결측치가 있는 값들을 출력하시오.

In [33]:
# 주어진 Series 중 결측치가 있는 값들을 찾고 출력
data_Null=data[data.isnull()]
print(data_Null)

C   NaN
E   NaN
dtype: float64

#### 1-2. 위에서 생성한 Series 객체에서 결측치가 아닌 값들을 출력하시오.

In [34]:
# 주어진 Series 중 결측치가 없는 값들을 찾고 출력
data_Not_Null=data[data.notnull()]
print(data_Not_Null)

A    100.0
B    200.0
D    150.0
F    300.0
G    250.0
dtype: float64

#### 1-3. 위에서 생성한 Series 객체에서 결측치가 있는 값의 개수를 구하고 출력하시오.

In [42]:
# 결측치가 있는 값의 개수 구하고 출력
data_num_Null=data.isnull().sum()
print(data_num_Null)

2

#### 1-4. 위에서 생성한 Series 객체에서 결측치가 아닌 값들의 평균을 구하고 출력하시오.

In [43]:
# 결측치가 없는 값들의 평균을 구하고 출력
data_num_mean=data_Not_Null.mean()
print(data_num_mean)

200.0

### 2. 다음과 같이 주어진 상품 데이터를 이용하여 아래 문제에 맞게 코드를 작성하시오.

In [2]:
import pandas as pd

# 주어진 데이터를 이용하여 데이터 프레임 객체를 생성하고 출력
data = {
    'Product': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Price': [100, 200, 150, 300, 250, 130, 120, 180, 220, 270],
    'Quantity': [10, 5, 8, 6, 9, 15, 12, 7, 10, 8],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Electronics', \
                 'Clothing', 'Electronics', 'Clothing', 'Electronics', \
                 'Clothing', 'Clothing']
}
df = pd.DataFrame(data)
print("Default:")
print(df)
print()

Default:
,  Product  Price  Quantity     Category
,0       A    100        10  Electronics
,1       B    200         5     Clothing
,2       C    150         8  Electronics
,3       D    300         6  Electronics
,4       E    250         9     Clothing
,5       F    130        15  Electronics
,6       G    120        12     Clothing
,7       H    180         7  Electronics
,8       I    220        10     Clothing
,9       J    270         8     Clothing
,

#### 2-1. 위에서 생성한 DataFrame 객체의 행 인덱스를 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'로 설정하여 출력하시오.

In [50]:
# DataFrame의 행 인덱스를 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'로 설정
# Product 변수(열)의 값이 A, B, ... J 이므로 이 값을 이용
import pandas as pd
# DataFrame 객체의 사본 생성
df = {
    'Product': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Price': [100, 200, 150, 300, 250, 130, 120, 180, 220, 270],
    'Quantity': [10, 5, 8, 6, 9, 15, 12, 7, 10, 8],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Electronics', \
                 'Clothing', 'Electronics', 'Clothing', 'Electronics', \
                 'Clothing', 'Clothing']
}
df_2=pd.DataFrame(df.copy())

# df_new 객체의 행 인덱스를 Product 변수의 값으로 설정
# 변수 이름이 함께 추출되지 않도록 pandas.DataFrame.to_numpy 함수 활용
df_2.index=df_2['Product'].to_numpy()

# DataFrame 출력
print(df_2)

  Product  Price  Quantity     Category
A       A    100        10  Electronics
B       B    200         5     Clothing
C       C    150         8  Electronics
D       D    300         6  Electronics
E       E    250         9     Clothing
F       F    130        15  Electronics
G       G    120        12     Clothing
H       H    180         7  Electronics
I       I    220        10     Clothing
J       J    270         8     Clothing

#### 2-2. 2-1의 DataFrame 객체의 Product 변수의 값을 아래 주어진 리스트를 이용하여 변경하여 출력하시오.

In [52]:
import numpy as np
d = ['Laptop', 'Jacket', 'Smartphone', 'Headphones', 'Sweater', \
     'Tablet', 'Scarf', 'Camera', 'Jeans', 'Hat']

# DataFrame의 'Product' 변수의 값을 위의 리스트 d를 이용하여 변경
arr1=np.array(d)
df_2['Product']=arr1

# DataFrame 출력
print(df_2)

      Product  Price  Quantity     Category
A      Laptop    100        10  Electronics
B      Jacket    200         5     Clothing
C  Smartphone    150         8  Electronics
D  Headphones    300         6  Electronics
E     Sweater    250         9     Clothing
F      Tablet    130        15  Electronics
G       Scarf    120        12     Clothing
H      Camera    180         7  Electronics
I       Jeans    220        10     Clothing
J         Hat    270         8     Clothing

#### 2-3. 2-2의 DataFrame 객체에서 열의 순서를 Product, Category, Price, Quantity 순서로 재설정하여 출력하시오.

In [53]:
# DataFrame 열의 순서를 Product, Category, Price, Quantity 순서로 재설정
df_2=pd.DataFrame(df_2,columns=['Product','Category','Price','Quantity'])

# DataFrame 출력
print(df_2)

      Product     Category  Price  Quantity
A      Laptop  Electronics    100        10
B      Jacket     Clothing    200         5
C  Smartphone  Electronics    150         8
D  Headphones  Electronics    300         6
E     Sweater     Clothing    250         9
F      Tablet  Electronics    130        15
G       Scarf     Clothing    120        12
H      Camera  Electronics    180         7
I       Jeans     Clothing    220        10
J         Hat     Clothing    270         8

#### 2-4. 2-3의 DataFrame의 요약 통계량을 출력하시오.

In [54]:
# 요약 통계량 출력
print(df_2.describe())

            Price  Quantity
count   10.000000  10.00000
mean   192.000000   9.00000
std     67.790527   2.94392
min    100.000000   5.00000
25%    135.000000   7.25000
50%    190.000000   8.50000
75%    242.500000  10.00000
max    300.000000  15.00000

#### 2-5. 2-3의 DataFrame에서 Price 변수와 Quantity 변수 값을 곱한 값을 P*Q이라는 파생 변수를 만들어 추가하고 출력하시오.

In [55]:
# 파생 변수 만들어 추가하기
df_2['P*Q']=df_2['Price']*df_2['Quantity']

# DataFrame 출력
print(df_2)

      Product     Category  Price  Quantity   P*Q
A      Laptop  Electronics    100        10  1000
B      Jacket     Clothing    200         5  1000
C  Smartphone  Electronics    150         8  1200
D  Headphones  Electronics    300         6  1800
E     Sweater     Clothing    250         9  2250
F      Tablet  Electronics    130        15  1950
G       Scarf     Clothing    120        12  1440
H      Camera  Electronics    180         7  1260
I       Jeans     Clothing    220        10  2200
J         Hat     Clothing    270         8  2160

### 3. 학생들의 점수가 담긴 DataFrame을 생성하고, 각 학생들의 총점과 평균 점수를 계산하여 새로운 열로 추가하시오.

In [2]:
import pandas as pd
import numpy as np

# 주어진 데이터를 이용하여 데이터 프레임 객체를 생성하고 출력
scores_data = {
    'korean': [87, 70, 95, 85, 100, 78, 82],
    'english': [90, 85, 87, 88, 76, 91, 84],
    'math': [85, 79, 92, 86, 89, 95, 87],
    'science': [88, 79, 85, 86, 95, 100, 92],
    'history': [92, 81, 87, 90, 91, 89, 94],
    'CSE': [95, 89, 94, 90, 100, 93, 88],
    'AI': [87, 78, 88, 92, 85, 99, 95]
}
df_scores = pd.DataFrame(scores_data, index=['Alice', 'Bob', 'Charlie', 'David', 'Mike', 'Emma', 'Sophia'])
print("원본 데이터:")
print(df_scores)

원본 데이터:
         korean  english  math  science  history  CSE  AI
Alice        87       90    85       88       92   95  87
Bob          70       85    79       79       81   89  78
Charlie      95       87    92       85       87   94  88
David        85       88    86       86       90   90  92
Mike        100       76    89       95       91  100  85
Emma         78       91    95      100       89   93  99
Sophia       82       84    87       92       94   88  95

#### 3-1. 각 학생의 총점을 total 열로 추가하고, 평균을 average 열로 추가하시오.

In [6]:
# 총점과 평균 점수 추가
df_scores_2=df_scores.copy()
df_scores_2=pd.DataFrame(df_scores_2)
df_scores_2['total']=np.array(df_scores.sum(1))
df_scores_2['average']=np.array(df_scores.mean(1))


# 결과 출력
print(df_scores_2)

         korean  english  math  science  history  CSE  AI  total    average
Alice        87       90    85       88       92   95  87    624  89.142857
Bob          70       85    79       79       81   89  78    561  80.142857
Charlie      95       87    92       85       87   94  88    628  89.714286
David        85       88    86       86       90   90  92    617  88.142857
Mike        100       76    89       95       91  100  85    636  90.857143
Emma         78       91    95      100       89   93  99    645  92.142857
Sophia       82       84    87       92       94   88  95    622  88.857143

#### 3-2. 데이터 정보를 확인하시오.

In [7]:
# 요약 통계량 출력
print(df_scores_2.describe())

# 변수 속성 출력
print(df_scores_2.info())

           korean    english       math     science    history         CSE  \
count    7.000000   7.000000   7.000000    7.000000   7.000000    7.000000
mean    85.285714  85.857143  87.571429   89.285714  89.142857   92.714286
std     10.094789   5.014265   5.159365    6.969321   4.220133    4.151879
min     70.000000  76.000000  79.000000   79.000000  81.000000   88.000000
25%     80.000000  84.500000  85.500000   85.500000  88.000000   89.500000
50%     85.000000  87.000000  87.000000   88.000000  90.000000   93.000000
75%     91.000000  89.000000  90.500000   93.500000  91.500000   94.500000
max    100.000000  91.000000  95.000000  100.000000  94.000000  100.000000

              AI       total    average
count   7.000000    7.000000   7.000000
mean   89.142857  619.000000  88.428571
std     6.914443   27.227437   3.889634
min    78.000000  561.000000  80.142857
25%    86.000000  619.500000  88.500000
50%    88.000000  624.000000  89.142857
75%    93.500000  632.000000  90.285714
max    99.000000  645.000000  92.142857
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Alice to Sophia
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   korean   7 non-null      int64
 1   english  7 non-null      int64
 2   math     7 non-null      int64
 3   science  7 non-null      int64
 4   history  7 non-null      int64
 5   CSE      7 non-null      int64
 6   AI       7 non-null      int64
 7   total    7 non-null      int64
 8   average  7 non-null      float64
dtypes: float64(1), int64(8)
memory usage: 692.0+ bytes
None

#### 3-3. 평균 점수가 90점 이상인 학생들의 데이터만 추출하시오.

In [9]:
df_scores_over90=df_scores_2[df_scores_2['average']>=90]
print(df_scores_over90)

      korean  english  math  science  history  CSE  AI  total    average
Mike     100       76    89       95       91  100  85    636  90.857143
Emma      78       91    95      100       89   93  99    645  92.142857

#### 3-4. 가장 낮은 점수를 가진 학생을 찾으시오.

In [29]:
# 가장 낮은 점수를 가진 학생 index 추출
df_sc_index_min=df_scores_2['average'].argmin()
#df_sc_index_min2=df_scores_2['average'].idxmin()

# 가장 낮은 점수를 가진 학생 추출
df_sc_min=df_scores_2['average'].iloc[[df_sc_index_min]]
#df_sc_min2=df_scores_2['average'].loc[[df_sc_index_min2]]

# 결과 출력
print(df_scores_2.iloc[[df_sc_index_min]])
#print(df_scores_2.loc[[df_sc_index_min2]])

# 풀이2)
# df_sc_index_min=df_scores_2.index[df_scores_2['average'].argmin()]
# df_sc_min=df_scores_2['average'].min()
# print(df_scores_2[df_scores_2['average']==df_sc_min])

     korean  english  math  science  history  CSE  AI  total    average
Bob      70       85    79       79       81   89  78    561  80.142857

### 4. 직원들의 정보가 담긴 데이터프레임을 생성하고, 여러 조건에 따라 보너스를 계산하시오.

In [18]:
# 직원 데이터
employee_data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'dept': ['Sales', 'IT', 'Sales', 'HR', 'IT'],
    'years': [7, 3, 2, 10, 6],
    'salary_usd': [60000, 52000, 48000, 75000, 65000]
}
df_emp = pd.DataFrame(employee_data)
print("원본 직원 데이터:")
print(df_emp)

원본 직원 데이터:
      name   dept  years  salary_usd
0    Alice  Sales      7       60000
1      Bob     IT      3       52000
2  Charlie  Sales      2       48000
3    David     HR     10       75000
4      Eve     IT      6       65000

#### 4-1. 열 이름을 'dept' -> 'Department', 'years' -> 'Years_of_Service', 'salary_usd' -> 'Salary'로 변경하시오.

In [20]:
# 각 열 이름 변경
df_emp_2=df_emp.copy()
df_emp_2=df_emp_2.rename(columns={'dept':'Department','years':'Years_of_Service','salary_usd':'Salary'})

# 결과 출력
print(df_emp_2)

      name Department  Years_of_Service  Salary
0    Alice      Sales                 7   60000
1      Bob         IT                 3   52000
2  Charlie      Sales                 2   48000
3    David         HR                10   75000
4      Eve         IT                 6   65000

#### 4-2. 새로운 Bonus 열에 주어진 조건에 따라 보너스를 계산하시오.
1. 기본 보너스: 연봉(Salary)의 5%
2. 근속 인센티브: 근속년수(Years_of_Service) * 100 $

In [21]:
# 새로운 Bonus열에 주어진 조건에 따라 보너스 계산
# 기본 보너스 + 근속 인센티브
df_emp_2['Bonus']=df_emp_2['Salary']*0.05+df_emp_2['Years_of_Service']*100

# 결과 출력
print(df_emp_2)

      name Department  Years_of_Service  Salary   Bonus
0    Alice      Sales                 7   60000  3700.0
1      Bob         IT                 3   52000  2900.0
2  Charlie      Sales                 2   48000  2600.0
3    David         HR                10   75000  4750.0
4      Eve         IT                 6   65000  3850.0

#### 4-3. Bonus 통계를 구하시오.

In [24]:
# 보너스의 평균, 최대, 최소 계산
df_emp_2_average=df_emp_2['Bonus'].mean()
df_emp_2_max=df_emp_2['Bonus'].max()
df_emp_2_min=df_emp_2['Bonus'].min()

# 결과 출력
print("평균: ",df_emp_2_average)
print("최대: ",df_emp_2_max)
print("최소: ",df_emp_2_min)

평균:  3560.0
최대:  4750.0
최소:  2600.0

### 5. 자율 문제
- 새로 DataFrame 객체로 데이터를 생성하여 자신이 알아보고 싶은 것을 자유롭게 정하고 데이터 처리한 결과를 보이시오.
  - 서브 문제 3개

In [25]:
import pandas as pd

# 카페 판매 데이터 생성
cafe_data = {
    'Date': ['2025-09-18', '2025-09-18', '2025-09-18', '2025-09-18', '2025-09-19', 
             '2025-09-19', '2025-09-19', '2025-09-19', '2025-09-20', '2025-09-20', 
             '2025-09-20', '2025-09-20', '2025-09-20'],
    'MenuItem': ['Americano', 'Latte', 'Cheese Cake', 'Muffin', 'Americano', 
                 'Green Tea', 'Latte', 'Cheese Cake', 'Americano', 'Latte', 
                 'Muffin', 'Green Tea', 'Cheese Cake'],
    'Category': ['Coffee', 'Coffee', 'Dessert', 'Dessert', 'Coffee', 
                 'Tea', 'Coffee', 'Dessert', 'Coffee', 'Coffee', 
                 'Dessert', 'Tea', 'Dessert'],
    'Price': [4500, 5000, 6500, 4000, 4500, 
              4800, 5000, 6500, 4500, 5000, 
              4000, 4800, 6500],
    'Quantity': [5, 3, 2, 4, 6, 3, 5, 3, 7, 4, 2, 4, 1]
}

# 데이터프레임 생성
df_cafe = pd.DataFrame(cafe_data)

# 생성된 데이터프레임 확인
print("--- 카페 판매 데이터 ---")
print(df_cafe)

--- 카페 판매 데이터 ---
          Date     MenuItem Category  Price  Quantity
0   2025-09-18    Americano   Coffee   4500         5
1   2025-09-18        Latte   Coffee   5000         3
2   2025-09-18  Cheese Cake  Dessert   6500         2
3   2025-09-18       Muffin  Dessert   4000         4
4   2025-09-19    Americano   Coffee   4500         6
5   2025-09-19    Green Tea      Tea   4800         3
6   2025-09-19        Latte   Coffee   5000         5
7   2025-09-19  Cheese Cake  Dessert   6500         3
8   2025-09-20    Americano   Coffee   4500         7
9   2025-09-20        Latte   Coffee   5000         4
10  2025-09-20       Muffin  Dessert   4000         2
11  2025-09-20    Green Tea      Tea   4800         4
12  2025-09-20  Cheese Cake  Dessert   6500         1

### 5-1. Price와 Quantity를 곱해서 'Total_Sales'라는 새로운 열을 추가하시오.

In [26]:
# 5-1. 일일 총 매출 계산하기
# 복사
df_cafe_01=df_cafe.copy()
df_cafe_01['Total_Sales']=df_cafe_01['Price']*df_cafe_01['Quantity']
# 출력
print(df_cafe_01)

          Date     MenuItem Category  Price  Quantity  Total_Sales
0   2025-09-18    Americano   Coffee   4500         5        22500
1   2025-09-18        Latte   Coffee   5000         3        15000
2   2025-09-18  Cheese Cake  Dessert   6500         2        13000
3   2025-09-18       Muffin  Dessert   4000         4        16000
4   2025-09-19    Americano   Coffee   4500         6        27000
5   2025-09-19    Green Tea      Tea   4800         3        14400
6   2025-09-19        Latte   Coffee   5000         5        25000
7   2025-09-19  Cheese Cake  Dessert   6500         3        19500
8   2025-09-20    Americano   Coffee   4500         7        31500
9   2025-09-20        Latte   Coffee   5000         4        20000
10  2025-09-20       Muffin  Dessert   4000         2         8000
11  2025-09-20    Green Tea      Tea   4800         4        19200
12  2025-09-20  Cheese Cake  Dessert   6500         1         6500

### 5-2. 메뉴 아이템(MenuItem)별로 총 판매 수량(Quantity)을 계산해서 어떤 메뉴가 가장 많이 팔렸는지 확인하시오.

In [30]:
# 5-2. 최애 매뉴
# 판매 수량 최댓값 찾기
df_cafe_01_MaxQuan=df_cafe_01['Quantity'].argmax()
# 출력
print(df_cafe_01.iloc[[df_cafe_01_MaxQuan]])

         Date   MenuItem Category  Price  Quantity  Total_Sales
8  2025-09-20  Americano   Coffee   4500         7        31500

### 5-3. 카테고리(Category)별로 가장 적은 매출을 올린 메뉴를 출력하시오.

In [31]:
# 5-3. 효자 상품
# 매출 최솟값 찾기
df_cafe_01_MinToSales=df_cafe_01['Total_Sales'].idxmin()
# 출력
print(df_cafe_01.loc[[df_cafe_01_MinToSales]])

          Date     MenuItem Category  Price  Quantity  Total_Sales
12  2025-09-20  Cheese Cake  Dessert   6500         1         6500