### 기초데이터과학 (01분반) 

## Programming assignment 03

### 1. 다음에 주어진 미국의 아기 이름 데이터로 아래 문제에 맞게 코드를 작성하시오.

In [1]:
import pandas as pd

# 주어진 데이터 생성
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

#### 1-1. 위에서 생성한 DataFrame 객체의 앞 3개 행을 출력하시오.

In [2]:
# Data 형태 확인
# DataFrame의 앞 3개 행을 출력
df02=df.loc[:2]
print(df02)
## 인덱스에 문자열을 할당해도 가능한가요?

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46

#### 1-2. DataFrame 객체의 앞 행과 열 개수를 출력하시오.

In [3]:
# DataFrame의 행과 열 개수를 출력
print("행과 열 개수:\n",df.shape)

행과 열 개수:
 (1016395, 7)

#### 1-3. DataFrame 객체에서 State가 'AK'이고, Count가 50 이상인 데이터를 추출하여 출력하시오.

In [4]:
# State가 'AK'이고, Count가 50 이상인 데이터를 추출
df03=df.query('State=="AK" & Count>=50')

# 추출한 데이터 출력
print(df03)

      Unnamed: 0     Id       Name  Year Gender State  Count
0          11349  11350       Emma  2004      F    AK     62
204        11553  11554    Madison  2005      F    AK     53
639        11988  11989   Isabella  2007      F    AK     52
838        12187  12188       Emma  2008      F    AK     51
1063       12412  12413   Isabella  2009      F    AK     57
1275       12624  12625     Sophia  2010      F    AK     60
1276       12625  12626       Emma  2010      F    AK     51
1277       12626  12627   Isabella  2010      F    AK     51
1497       12846  12847     Olivia  2011      F    AK     60
1498       12847  12848       Emma  2011      F    AK     56
1499       12848  12849   Isabella  2011      F    AK     50
1732       13081  13082       Emma  2012      F    AK     57
1733       13082  13083     Sophia  2012      F    AK     56
1948       13297  13298       Emma  2013      F    AK     57
1949       13298  13299     Sophia  2013      F    AK     50
2173       13522  13523       Emma  2014      F    AK     50
2404       24076  24077      Ethan  2004      M    AK     65
2405       24077  24078     Joseph  2004      M    AK     63
2406       24078  24079      James  2004      M    AK     59
2407       24079  24080      Jacob  2004      M    AK     54
2408       24080  24081     Samuel  2004      M    AK     54
2409       24081  24082      Tyler  2004      M    AK     54
2610       24282  24283      Ethan  2005      M    AK     63
2611       24283  24284      Jacob  2005      M    AK     58
2612       24284  24285     Joshua  2005      M    AK     55
2613       24285  24286    Michael  2005      M    AK     52
2826       24498  24499      James  2006      M    AK     67
2827       24499  24500      Jacob  2006      M    AK     55
2828       24500  24501    Michael  2006      M    AK     55
2829       24501  24502     Andrew  2006      M    AK     52
2830       24502  24503      Ethan  2006      M    AK     52
2831       24503  24504      Logan  2006      M    AK     51
3043       24715  24716      Aiden  2007      M    AK     58
3044       24716  24717      Ethan  2007      M    AK     53
3045       24717  24718      Logan  2007      M    AK     53
3046       24718  24719  Alexander  2007      M    AK     52
3047       24719  24720    Michael  2007      M    AK     52
3270       24942  24943      James  2008      M    AK     67
3271       24943  24944      Jacob  2008      M    AK     60
3272       24944  24945    Michael  2008      M    AK     58
3273       24945  24946      Ethan  2008      M    AK     53
3274       24946  24947      Tyler  2008      M    AK     50
3507       25179  25180    Michael  2009      M    AK     58
3508       25180  25181      Ethan  2009      M    AK     57
3744       25416  25417    William  2010      M    AK     57
3745       25417  25418      James  2010      M    AK     51
3746       25418  25419    Michael  2010      M    AK     51
3747       25419  25420      Logan  2010      M    AK     50
3984       25656  25657      Mason  2011      M    AK     58
3985       25657  25658      James  2011      M    AK     52
3986       25658  25659    William  2011      M    AK     52
4224       25896  25897      James  2012      M    AK     52
4476       26148  26149       Liam  2013      M    AK     63
4731       26403  26404       Liam  2014      M    AK     65
4732       26404  26405      James  2014      M    AK     53

#### 1-4. 1-3에서 추출한 데이터에서 Gender가 'F'인 데이터를 추출하여 출력하시오.

In [5]:
# 그 중 Gender가 'F'인 데이터를 추출
df03_2=df03.query('Gender=="F"')

# 추출한 데이터 출력
print(df03_2)

      Unnamed: 0     Id      Name  Year Gender State  Count
0          11349  11350      Emma  2004      F    AK     62
204        11553  11554   Madison  2005      F    AK     53
639        11988  11989  Isabella  2007      F    AK     52
838        12187  12188      Emma  2008      F    AK     51
1063       12412  12413  Isabella  2009      F    AK     57
1275       12624  12625    Sophia  2010      F    AK     60
1276       12625  12626      Emma  2010      F    AK     51
1277       12626  12627  Isabella  2010      F    AK     51
1497       12846  12847    Olivia  2011      F    AK     60
1498       12847  12848      Emma  2011      F    AK     56
1499       12848  12849  Isabella  2011      F    AK     50
1732       13081  13082      Emma  2012      F    AK     57
1733       13082  13083    Sophia  2012      F    AK     56
1948       13297  13298      Emma  2013      F    AK     57
1949       13298  13299    Sophia  2013      F    AK     50
2173       13522  13523      Emma  2014      F    AK     50

#### 1-5. 1-4에서 추출한 데이터에서 Count 기준으로 내림차순 정렬하여 출력하시오.

In [6]:
# 추출한 데이터를 Count 기준으로 내림차순 정렬
df03_2_sorted=df03_2.sort_values('Count',ascending=False)

# 정렬된 데이터 출력
print(df03_2_sorted)

      Unnamed: 0     Id      Name  Year Gender State  Count
0          11349  11350      Emma  2004      F    AK     62
1275       12624  12625    Sophia  2010      F    AK     60
1497       12846  12847    Olivia  2011      F    AK     60
1063       12412  12413  Isabella  2009      F    AK     57
1732       13081  13082      Emma  2012      F    AK     57
1948       13297  13298      Emma  2013      F    AK     57
1498       12847  12848      Emma  2011      F    AK     56
1733       13082  13083    Sophia  2012      F    AK     56
204        11553  11554   Madison  2005      F    AK     53
639        11988  11989  Isabella  2007      F    AK     52
838        12187  12188      Emma  2008      F    AK     51
1276       12625  12626      Emma  2010      F    AK     51
1277       12626  12627  Isabella  2010      F    AK     51
1499       12848  12849  Isabella  2011      F    AK     50
1949       13298  13299    Sophia  2013      F    AK     50
2173       13522  13523      Emma  2014      F    AK     50

#### 1-6. 1-5에서 정렬한 데이터에서 Name과 Count 열만 추출하여 출력하시오.

In [7]:
# 'Name'과 'Count' 열만 추출
df03_2_sorted_NameCount=df03_2_sorted[['Name','Count']]

# 추출한 데이터 출력
print(df03_2_sorted_NameCount)

          Name  Count
0         Emma     62
1275    Sophia     60
1497    Olivia     60
1063  Isabella     57
1732      Emma     57
1948      Emma     57
1498      Emma     56
1733    Sophia     56
204    Madison     53
639   Isabella     52
838       Emma     51
1276      Emma     51
1277  Isabella     51
1499  Isabella     50
1949    Sophia     50
2173      Emma     50

### 2. 미국의 아기 이름 데이터로 동일한 State와 Name을 가진 중복된 데이터를 제거하고 Count를 기준으로 내림차순 정렬하시오.

In [8]:
import pandas as pd

# 주어진 데이터 생성
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

#### 2-1. Name 변수의 값이 Emma인 데이터를 출력하시오.

In [9]:
# 데이터 중복 체크하기
# 'Name' 속성이 'Emma'인 데이터 추출
df_Emma=df.query('Name=="Emma"')

# 추출한 데이터 출력
print(df_Emma)

         Unnamed: 0       Id  Name  Year Gender State  Count
0             11349    11350  Emma  2004      F    AK     62
205           11554    11555  Emma  2005      F    AK     49
418           11767    11768  Emma  2006      F    AK     49
644           11993    11994  Emma  2007      F    AK     41
838           12187    12188  Emma  2008      F    AK     51
...             ...      ...   ...   ...    ...   ...    ...
1013854     5633487  5633488  Emma  2010      F    WY     23
1013983     5633616  5633617  Emma  2011      F    WY     43
1014104     5633737  5633738  Emma  2012      F    WY     40
1014222     5633855  5633856  Emma  2013      F    WY     30
1014362     5633995  5633996  Emma  2014      F    WY     32

[566 rows x 7 columns]

#### 2-2. State 별로 중복된 Name을 제거하고 출력하시오.

In [10]:
# State 별로 중복된 Name 제거
# pandas.DataFrame.drop_duplicates 함수 활용. drop_duplicates 함수 이용 방법은 찾아볼 것
df_copy_name=df.copy()
df_Namesort=df_copy_name.sort_values('State')
df_NameDel=df_Namesort.drop_duplicates(subset=['State','Name'])

# 중복 제거된 데이터 출력
print(df_NameDel)

         Unnamed: 0       Id       Name  Year Gender State  Count
0             11349    11350       Emma  2004      F    AK     62
3331          25003    25004    Timothy  2008      M    AK     19
3330          25002    25003      Jason  2008      M    AK     19
3329          25001    25002   Nicholas  2008      M    AK     20
3328          25000    25001  Nathaniel  2008      M    AK     20
...             ...      ...        ...   ...    ...   ...    ...
1014100     5633733  5633734     Phoebe  2011      F    WY      5
1014170     5633803  5633804      Quinn  2012      F    WY      7
1014175     5633808  5633809     Averie  2012      F    WY      6
1014176     5633809  5633810    Bristol  2012      F    WY      6
1016394     5647425  5647426     Waylon  2014      M    WY      5

[167628 rows x 7 columns]

#### 2-3. 위에서 중복 제거된 데이터를 Count 값을 기준으로 내림차순 정렬하고 여기서 State, Name, Count 변수 값만 추출하여 출력하시오.

In [11]:
# Count 기준으로 내림차순 정렬
df_NameDel_2=df_NameDel.sort_values('Count',ascending=False)
df_NameDel_3=df_NameDel_2[['State','Name','Count']]
# 'State', 'Name', 'Count' 변수(열)만 추출하여 출력
print(df_NameDel_3)

        State     Name  Count
112872     CA   Daniel   3826
112873     CA  Anthony   3774
112874     CA    Angel   3687
112875     CA    Jacob   3197
103432     CA   Sophia   3162
...       ...      ...    ...
1014219    WY  Scarlet      5
1013950    WY      Ali      5
1013975    WY   London      5
1013974    WY   Leslie      5
1013973    WY    Leila      5

[167628 rows x 3 columns]

### 3. 치폴레(chipotle) 판매 기록을 담고 있는 데이터를 이용하여 'Steak Burrito'와 'Chicken Bowl'의 평균 판매 가격을 계산할 수 있도록 아래 문제에 맞게 코드를 작성하시오.

In [12]:
import pandas as pd

# 주어진 데이터 생성
chipotle_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(chipotle_url, sep = '\t')

In [13]:
# 데이터의 변수(열) 속성 출력
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### 3-1. 위에서 생성한 DataFrame 객체의 앞 5개 행을 출력하시오.

In [14]:
# Data 형태 확인
# DataFrame chipo의 앞 5개 행을 출력
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

#### 3-2. 위의 DataFrame에서 item_name 값이 'Steak Burrito'인 데이터와 'Chicken Bowl'인 데이터를 각각 추출하여 출력하시오.

In [15]:
# chipo 데이터에서 item_name이 'Steak Burrito'인 데이터 추출
chipo_ext1=chipo.query('item_name=="Steak Burrito"')

# chipo 데이터에서 item_name이 'Chicken Bowl'인 데이터 추출
chipo_ext2=chipo.query('item_name=="Chicken Bowl"')

# 결과 출력
print(chipo_ext1)
print(chipo_ext2)

      order_id  quantity      item_name  \
7            4         1  Steak Burrito
9            5         1  Steak Burrito
31          16         1  Steak Burrito
43          20         1  Steak Burrito
46          21         1  Steak Burrito
...        ...       ...            ...
4546      1807         1  Steak Burrito
4607      1829         1  Steak Burrito
4610      1830         1  Steak Burrito
4617      1833         1  Steak Burrito
4618      1833         1  Steak Burrito

                                     choice_description item_price
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
31    [[Roasted Chili Corn Salsa (Medium), Fresh Tom...     $8.99
43    [Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...    $11.75
46    [Tomatillo-Red Chili Salsa (Hot), [Rice, Fajit...     $8.99
...                                                 ...        ...
4546  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]     $9.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75

[368 rows x 5 columns]
      order_id  quantity     item_name  \
4            2         2  Chicken Bowl
5            3         1  Chicken Bowl
13           7         1  Chicken Bowl
19          10         1  Chicken Bowl
26          13         1  Chicken Bowl
...        ...       ...           ...
4590      1825         1  Chicken Bowl
4591      1825         1  Chicken Bowl
4595      1826         1  Chicken Bowl
4599      1827         1  Chicken Bowl
4604      1828         1  Chicken Bowl

                                     choice_description item_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...     $8.49
...                                                 ...        ...
4590  [Roasted Chili Corn Salsa, [Rice, Black Beans,...    $11.25
4591  [Tomatillo Red Chili Salsa, [Rice, Black Beans...     $8.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...     $8.75
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75

[726 rows x 5 columns]

#### 3-3. 'item_price' 값이 실수형 데이터가 아니므로 연산이 가능하도록 item_price 값에서 '$'를 제거하고 자료형을 float로 변환하여 출력하시오.

In [16]:
# 3-2에서 추출한 'Steak Burrito' 데이터의 사본 생성
chipo_ext1_copy=chipo_ext1.copy()

# 3-2에서 추출한 'Chicken Bowl' 데이터의 사본 생성
chipo_ext2_copy=chipo_ext2.copy()

# 계산을 위해서 'item_price' 값에서 '$'를 제거하고 자료형을 float로 변환한 값을 'item_price_numeric' 변수로 추가
# '$' 제거는 pandas.Series.str.replace 함수 활용 - '$'를 ''로 대체하는 방식
# 자료형 변환은 pandas.DataFrame.astype 함수 활용 - astype() 함수에 원하는 자료형을 지정
# 1. Steak Burrio 데이터 사본에 'item_price_numeric' 변수 추가
chipo_ext1_copy['item_price_numeric']=chipo_ext1_copy['item_price'].str.replace('$','')
chipo_ext1_copy['item_price_numeric']=chipo_ext1_copy['item_price_numeric'].astype(float)

# 2. Chicken Bowl 데이터 사본에 'item_price_numeric' 변수 추가
chipo_ext2_copy['item_price_numeric']=chipo_ext2_copy['item_price'].str.replace('$','')
chipo_ext2_copy['item_price_numeric']=chipo_ext2_copy['item_price_numeric'].astype(float)

# 'Steak Burrito' 데이터의 'item_price_numeric' 열만 출력
print(chipo_ext1_copy['item_price_numeric'])

# 'Chicken Bowl' 데이터의 'item_price_numeric' 열만 출력
print(chipo_ext2_copy['item_price_numeric'])

7       11.75
9        9.25
31       8.99
43      11.75
46       8.99
        ...
4546     9.25
4607    11.75
4610    11.75
4617    11.75
4618    11.75
Name: item_price_numeric, Length: 368, dtype: float64
4       16.98
5       10.98
13      11.25
19       8.75
26       8.49
        ...
4590    11.25
4591     8.75
4595     8.75
4599     8.75
4604     8.75
Name: item_price_numeric, Length: 726, dtype: float64

#### 3-4. 'Steak Burrito'와 'Chicken Bowl'의 총 판매 금액을 계산하여 출력하시오.

In [17]:
# 'Steak Burrito'의 총 판매 금액 계산
chipo_ext1_copy_total=chipo_ext1_copy['item_price_numeric'].sum(0)

# 'Chicken Bowl'의 총 판매 금액 계산
chipo_ext2_copy_total=chipo_ext2_copy['item_price_numeric'].sum(0)

# 결과 출력
print("'Steak Burrito'의 총 판매 금액:",chipo_ext1_copy_total)
print("'Chicken Bowl'의 총 판매 금액:",chipo_ext2_copy_total)

'Steak Burrito'의 총 판매 금액: 3851.4300000000003
'Chicken Bowl'의 총 판매 금액: 7342.7300000000005

#### 3-5. 'Steak Burrito'와 'Chicken Bowl'의 총 판매 수량을 계산하여 출력하시오.

In [18]:
# 'Steak Burrito'의 총 판매 수량 계산
chipo_ext1_copy_totalQuan=chipo_ext1_copy['quantity'].sum(0)

# 'Chicken Bowl'의 총 판매 수량 계산
chipo_ext2_copy_totalQuan=chipo_ext2_copy['quantity'].sum(0)

# 결과 출력
print("'Steak Burrito'의 총 판매 수량:",chipo_ext1_copy_totalQuan)
print("'Chicken Bowl'의 총 판매 수량:",chipo_ext2_copy_totalQuan)

'Steak Burrito'의 총 판매 수량: 386
'Chicken Bowl'의 총 판매 수량: 761

#### 3-6. 'Steak Burrito'와 'Chicken Bowl'의 평균 판매 가격을 계산하여 출력하시오.

In [19]:
# 'Steak Burrito'의 평균 가격 계산
# 총 판매 금액을 총 판매 수량으로 나누고 round() 함수를 이용해 소수점 둘째 자리까지 구함
chipo_ext1_copy_averagePrice=chipo_ext1_copy_total/chipo_ext1_copy_totalQuan
averPrice1=round(chipo_ext1_copy_averagePrice,2)

# 'Chicken Bowl'의 평균 가격 계산
# 총 판매 금액을 총 판매 수량으로 나누고 round() 함수를 이용해 소수점 둘째 자리까지 구함
chipo_ext2_copy_averagePrice=chipo_ext2_copy_total/chipo_ext2_copy_totalQuan
averPrice2=round(chipo_ext2_copy_averagePrice,2)

# 결과 출력
print(f"'Steak Burrito'의 평균 판매 가격: ${averPrice1}")
print(f"'Chicken Bowl'의 평균 판매 가격: ${averPrice2}")

'Steak Burrito'의 평균 판매 가격: $9.98
'Chicken Bowl'의 평균 판매 가격: $9.65

### 4. 축구 데이터(EURO 2012)로 아래 문제에 맞게 코드를 작성하시오.

In [20]:
import pandas as pd

# 주어진 데이터 생성
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/refs/heads/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

print(df)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Saves made  \
0              0              0                     0  ...          13
1              0              0                     0  ...           9
2              1              0                     0  ...          10
3              0              0                     0  ...          22
4              1              0                     0  ...           6
5              2              1                     0  ...          10
6              1              1                     1  ...          13
7              2              0                     0  ...          20
8              2              0                     0  ...          12
9              0              0                     0  ...           6
10             6              0                     0  ...          10
11             0              0                     0  ...          17
12             2              0                     0  ...          10
13             0              1                     0  ...          15
14             3              0                     0  ...           8
15             0              0                     0  ...          13

    Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  Yellow Cards  \
0                  81.3%         41             62         2             9
1                  60.1%         53             73         8             7
2                  66.7%         25             38         8             4
3                  88.1%         43             45         6             5
4                  54.6%         36             51         5             6
5                  62.6%         63             49        12             4
6                  65.1%         67             48        12             9
7                  74.1%        101             89        16            16
8                  70.6%         35             30         3             5
9                  66.7%         48             56         3             7
10                 71.5%         73             90        10            12
11                 65.4%         43             51        11             6
12                 77.0%         34             43         4             6
13                 93.8%        102             83        19            11
14                 61.6%         35             51         7             7
15                 76.5%         48             31         4             5

    Red Cards  Subs on  Subs off  Players Used
0           0        9         9            16
1           0       11        11            19
2           0        7         7            15
3           0       11        11            16
4           0       11        11            19
5           0       15        15            17
6           1       12        12            20
7           0       18        18            19
8           0        7         7            15
9           1        7         7            17
10          0       14        14            16
11          1       10        10            17
12          0        7         7            16
13          0       17        17            18
14          0        9         9            18
15          0        9         9            18

[16 rows x 35 columns]

#### 4-1. 유로 2012 결승에 진출했던 두 팀(스페인, 이탈리아)의 데이터를 추출하시오.

In [21]:
# 스페인, 이탈리아 데이터 추출
Euro2012_Final=df.query('Team in ["Spain","Italy"]')

# 출력
print(Euro2012_Final)

     Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
7   Italy      6               34                45             43.0%
13  Spain     12               42                33             55.9%

   % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
7              7.5%                         110             2              0
13            16.0%                         100             0              1

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
7                      0  ...          20                 74.1%        101
13                     0  ...          15                 93.8%        102

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
7              89        16            16          0       18        18
13             83        19            11          0       17        17

    Players Used
7             19
13            18

[2 rows x 35 columns]

#### 4-2. 스페인, 이탈리아의 슛 관련 데이터를 추출하시오. (shot이 포함되어있는 열)

In [22]:
# 대소문자 구분 없이 shot이 포함된 열 추출
# shot이 포함된 열 이름을 리스트로 생성
Euro2012_Final_columns=Euro2012_Final.columns
shot_list=[]
for shot in Euro2012_Final_columns:
    if 'shot' in shot.lower():
        shot_list.append(shot)
        

# shot이 포함된 열과 'Team' 열만 추출
Final_shot=pd.DataFrame(Euro2012_Final,columns=['Team']+shot_list)

# 결과 출력
print(Final_shot)

     Team  Shots on target  Shots off target % Goals-to-shots  \
7   Italy               34                45             7.5%
13  Spain               42                33            16.0%

    Total shots (inc. Blocked) Saves-to-shots ratio
7                          110                74.1%
13                         100                93.8%

#### 4-3. 가장 많이 골(Goals)을 넣은 상위 5개 팀을 유효슈팅(Shots on traget) 기준 내림차순으로 보이시오.

In [23]:
# 정렬을 통해 가장 많이 골을 넣은 상위 5개 팀 추출
Goals_descended=df.sort_values('Goals',ascending=False)
Goals_desc_2=Goals_descended.head()
# 위에서 추출된 팀 데이터에서 유효슈팅 기준 내림차순으로 정렬
Shots_Goatline=Goals_desc_2.sort_values('Shots on target',ascending=False)

# 결과 출력 (아래 출력된 컬럼만 출력)
print(Shots_Goatline[['Team','Goals','Shots on target']])

        Team  Goals  Shots on target
13     Spain     12               42
7      Italy      6               34
5    Germany     10               32
10  Portugal      6               22
14    Sweden      5               17

#### 4-4. 가장 패스(Passes)가 적은 5 팀을 추출하고, 패스 정확도(Passing Accuracy) 기준 내림차순으로 보이시오.

In [24]:
# 정렬을 통해 가장 패스가 적은 5팀 추출
pass_=df.sort_values('Passes')
pass_under=pass_.head()
# 위에서 추출된 팀 데이터에서 패스 정확도 기준 내림차순으로 정렬
pass_accuracy=pass_under.sort_values('Passing Accuracy',ascending=False)

# 결과 출력 (아래 출력된 컬럼만 출력)
print(pass_accuracy[['Team','Passes','Passing Accuracy']])

                   Team  Passes Passing Accuracy
14               Sweden    1192            80.9%
9                Poland    1059            80.4%
0               Croatia    1076            76.9%
6                Greece    1187            76.7%
11  Republic of Ireland     851            71.2%

#### 4-5. 전체 골키퍼 선방 비율(Saves-to-shots ratio)의 평균을 구하고, 평균 이상 팀과 평균 이하 팀을 보이시오.

In [25]:
# 전체 골키퍼 선방 비율의 평균 계산
# 선방 비율 값에서 % 제거 후 float로 변환 (3-3에서 사용한 replace() 함수와 astype() 함수 사용)
df_copy=df.copy()
df_copy['Saves-to-shots ratio']=df_copy['Saves-to-shots ratio'].str.replace('%','')
df_copy['Saves-to-shots ratio']=df_copy['Saves-to-shots ratio'].astype(float)

# 선방 비율 평균 계산 후 출력
df_copy_mean=df_copy['Saves-to-shots ratio'].mean()
print("전체 골키퍼 선방 비율의 평균: ",df_copy_mean)

# 선방 비율 평균 이상 팀과 평균 이하 팀 추출
mean_over=df_copy[df_copy['Saves-to-shots ratio']>=df_copy_mean]
mean_under=df_copy[df_copy['Saves-to-shots ratio']<df_copy_mean]

# 결과 출력
print("평균 이상 팀:",mean_over[['Team','Saves-to-shots ratio']])
print("평균 이하 팀:",mean_under[['Team','Saves-to-shots ratio']])

전체 골키퍼 선방 비율의 평균:  70.98124999999999
평균 이상 팀:         Team  Saves-to-shots ratio
0    Croatia                  81.3
3    England                  88.1
7      Italy                  74.1
10  Portugal                  71.5
12    Russia                  77.0
13     Spain                  93.8
15   Ukraine                  76.5
평균 이하 팀:                    Team  Saves-to-shots ratio
1        Czech Republic                  60.1
2               Denmark                  66.7
4                France                  54.6
5               Germany                  62.6
6                Greece                  65.1
8           Netherlands                  70.6
9                Poland                  66.7
11  Republic of Ireland                  65.4
14               Sweden                  61.6

### 5. 자율 문제
- 1번 ~ 4번 문제의 데이터 중 하나를 선정하여 4주차까지 학습한 내용을 적용하여 데이터 처리한 결과를 보이시오.

**4번 문제의 EURO 2012 데이터를 활용하여, 4주차까지 학습한 내용을 적용해 아래 세 가지 문제를 해결하시오.**

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/refs/heads/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

# 5-1. 팀의 수비 거칠기 분석
- Yellow Cards'를 5개보다 많이 받고 'Red Cards'를 1개 이상 받은 팀을 찾아서, 'Fouls Conceded'(파울 허용 횟수)가 많은 순서대로 정렬하여 'Team', 'Fouls Conceded', 'Yellow Cards', 'Red Cards' 열을 출력하시오.

In [27]:
# 조건 필터링 (query 또는 loc), 다중 조건 정렬 (sort_values)
df_con1=df.query('`Yellow Cards` > 5 & `Red Cards` >= 1')

df_sorted1=df_con1.sort_values('Fouls Conceded',ascending=False)

print(df_sorted1[['Team', 'Fouls Conceded', 'Yellow Cards', 'Red Cards']])

                   Team  Fouls Conceded  Yellow Cards  Red Cards
9                Poland              56             7          1
11  Republic of Ireland              51             6          1
6                Greece              48             9          1

# 5-2. 공격 효율성 지표 생성 및 분석
- 'Shots per Goal' (골당 슈팅 수)이라는 새로운 파생 변수를 만드시오. 이 변수는 'Total shots (inc. Blocked)'를 'Goals'로 나누어 계산. (단, 'Goals'가 0인 경우는 분석에서 제외) 계산된 'Shots per Goal'이 가장 낮은, 즉 가장 효율적인 공격을 한 상위 5개 팀의 'Team', 'Goals', 'Total shots (inc. Blocked)', 'Shots per Goal'을 출력하시오.

In [28]:
# 파생 변수 생성, 산술 연산, NaN 값 처리, 정렬 및 상위 데이터 추출 (sort_values, head)
df_not_zero=df.query('Goals != 0')

df_not_zero['Shots per Goal']=df_not_zero['Total shots (inc. Blocked)']/df_not_zero['Goals']

df_SpG_Goatline=df_not_zero.sort_values('Shots per Goal')

print(df_SpG_Goatline[['Team', 'Goals', 'Total shots (inc. Blocked)', 'Shots per Goal']])

                   Team  Goals  Total shots (inc. Blocked)  Shots per Goal
6                Greece      5                          32        6.400000
2               Denmark      4                          27        6.750000
14               Sweden      5                          39        7.800000
3               England      5                          40        8.000000
5               Germany     10                          80        8.000000
0               Croatia      4                          32        8.000000
13                Spain     12                         100        8.333333
1        Czech Republic      4                          39        9.750000
12               Russia      5                          59       11.800000
10             Portugal      6                          82       13.666667
7                 Italy      6                         110       18.333333
15              Ukraine      2                          38       19.000000
4                France      3                          65       21.666667
9                Poland      2                          48       24.000000
11  Republic of Ireland      1                          28       28.000000
8           Netherlands      2                          60       30.000000

# 5-3. 패스 정확도에 따른 팀 분류 및 통계 분석
- 'Passing Accuracy' 열의 '%' 기호를 제거하고 숫자(float) 형태로 변환하시오. 그 다음, 패스 정확도가 85% 이상인 팀과 미만인 팀으로 나누어 행을 이루고 각 그룹의 'Goals' 평균과 'Shooting Accuracy' 평균으로 열을 만들어 작성한 새로운 DataFrame 객체를 출력하시오.

In [2]:
# 데이터 타입 변환 (str.replace, astype), 조건에 따른 그룹화, 그룹별 통계치 계산 (groupby, agg)
# 주의 : Jupyter Notebook 자체 문제인 듯한데, 혹시나 str 어쩌구 하면서 에러 메시지가 뜬다면 kernel 재시작 후 위에 import pandas as pd 실행한 다음에 해주시면 됩니다
df['Passing Accuracy']=df['Passing Accuracy'].str.replace('%','')
df['Passing Accuracy']=df['Passing Accuracy'].astype(float)
df['Shooting Accuracy']=df['Shooting Accuracy'].str.replace('%','')
df['Shooting Accuracy']=df['Shooting Accuracy'].astype(float)

df_PassAc_over=df.loc[df['Passing Accuracy']>=85]
df_PassAc_under=df.loc[df['Passing Accuracy']<85]

Goals_mean_over=df_PassAc_over['Goals'].mean()
Goals_mean_under=df_PassAc_under['Goals'].mean()
Shooting_mean_over=df_PassAc_over['Shooting Accuracy'].mean()
Shooting_mean_under=df_PassAc_under['Shooting Accuracy'].mean()

new_df=pd.DataFrame({'Goals mean':[Goals_mean_over,Shooting_mean_over],'Shooting Accuracy':[Goals_mean_under,Shooting_mean_under]},index=['Over 85','Under 85'])
print(new_df)

          Goals mean  Shooting Accuracy
Over 85         6.75           4.083333
Under 85       41.65          39.075000